body {
    background: #FCFCFC;
    font-family: sans-serif;
    /* width: 100vw; */
    max-width: 100%;
    color: #7E8992;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: calc(100vh - 50px);
}

h1 {
    margin: 30px;
}

main a.login-link {
    float: right;
    margin-top: -75px;
    margin-right: 20px;
    text-decoration: none;
}

form {
    margin-bottom: 20px;
    width: 50vw;
    max-width: 1014px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: #F4F4F4;
    /* box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.15); */
}

form h3 {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 5px;
    width: 80%;
    padding: 20px;
    display: block;
}

form input[type="submit"] {
    padding: 10px;
    margin: 20px;
}

input[type=button]{
    /* margin: 0 auto; */
    padding: 10px 40px;
    color: white;
    border: none;
    display: block;
    background: #21252E;
    /* min-width: 10px; */
    margin-top: 20px;
    /* cursor: pointer; */
}


 .search1 {
    height: 70px;
    width: 800px;
    margin: 100px auto 0 auto; 
}
.parent {
    position: relative;
    border: none;
} 
.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    /* background: url("images/topbar.png") no-repeat -2px -99px;  */
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;} 


#dashboard form{
    width: 45vw;
    border: 1px solid #53525259;
    border-radius: 10px;
    padding: 20px;
    background: #F4F4F4;
    margin: 0 auto;
    padding-bottom: 0px;
}

#dashboard input {
    margin-bottom: 5px;
    width: 80%;
    padding: 20px;
    display: block;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}

#dashboard form input[type="submit"] {
    margin: 0 auto;
    padding: 10px 40px;
    color: white;
    border: none;
    width: auto;
    display: block;
    background: #21252E;
    min-width: 37px;
    margin-top: 20px;
    cursor: pointer;
}

#dashboard form input[type="submit"]:hover {
    background: black;
}

#dashboard .message {
    width: 100%;
    text-align: center;
    color: #007191;
    opacity: 0;
    transition: .3s;
}

#login form input,
#register form input {
    margin-bottom: 5px;
    width: 80%;
    padding: 20px;
    display: block;
    border: 1px solid #fffdfd59;
    border-style:solid;
    border-radius: 3px;
}

#login form input[type="submit"],
#register form input[type="submit"] {
    margin: 0 auto;
    padding: 10px 40px;
    color: white;
    border: none;
    width: auto;
    display: block;
    background: #21252E;
    min-width: 37px;
    margin-top: 20px;
    cursor: pointer;
}

#login form input[type="submit"]:hover,
#register form input[type="submit"]:hover {
    background: black;
}

.table-container {
    width: 90vw;
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: scroll;
    min-height: 60px;
    background: white;
    margin-top: 30px;
    /* border: 1.5px solid #fffdfd59;
    border-radius: 2px; */
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    min-width: 500px;
}

table th {
    font-weight: bold;
    text-transform: uppercase;
}

table td,
table th {
    text-align: left;
    padding: 25px 8px 8px 8px;
}

table td {
    /* border-bottom: 1px solid #dddddd; */
    text-align: left;
}


#login form {
    margin-bottom: 30px;
}

.remove-book:hover {
    font-weight: bold;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}

footer h4,
footer a {
    display: inline-block;
    text-decoration: none;
}

.hide {
    display: none;
}

.table-container {
    overflow-x: auto;
}
h1 {
    margin: 30px;
}
#login form,
#register form {
    width: 25vw;
    height: 35vh;
    border: 1px solid #1b1b1b2f;
    border-radius: 10px;
    padding: 20px;
    background: #F4F4F4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#login div {
    text-align: center;
    padding: 10px 0px 0px;
}
#login div a {
    padding: 10px 0px;
    text-decoration: none;
    color: #616b6b;
    font-size: 12px;
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}